@import url(https://fonts.googleapis.com/css?family=Roboto);

.current-title {
  text-align: left;
  padding: 30px;
  color: #fff;
  font-family: Roboto;
}

.favorites-page {
  background-color: #1A1A1A;
}

footer {
  height: 40px;
  background-color: #1A1A1A;
}
