@import url(https://fonts.googleapis.com/css?family=Roboto);

h4 {
  color: #fff;
}

.current-title {
  text-align: left;
  padding: 30px;
  color: #fff;
  font-family: Roboto;
}

.favorites-page {
  background-color: #1A1A1A;
}

.favorites-footer {
  height: 75vh;
  background-color: #1A1A1A;
}
