@import url(https://fonts.googleapis.com/css?family=Roboto);
.link-to-log-in {
  border: none;
  padding: 8px 15px;
  background-color: #EB8938;
  margin: 10px;
  font-size: 120%;
  font-family: Roboto; }

.link-to-log-in:hover {
  background-color: #CE7831; }
