@import url(https://fonts.googleapis.com/css?family=Roboto);
.link-to-log-in {
  border: none;
  padding: 8px 15px;
  background-color: #EB9B29;
  margin: 10px;
  font-size: 120%;
  font-family: Roboto;
  border-radius: 2px; }

.link-to-log-in:hover {
  background-color: #e48227; }
