.login-page {
  border: 1px solid red;
  width: 35%;
  margin: 0 auto;
  padding-bottom: 30px; }

.pick-a-tab {
  border: none;
  background-color: #EB8938;
  margin: 10px;
  color: black;
  padding: 10px; }

.pick-a-tab:hover {
  background-color: #CE7831; }

.disabled {
  background-color: grey; }

.disabled:hover {
  background-color: grey; }

.login-name,
.login-email,
.login-password,
.login-verify-password {
  padding: 5px;
  display: block;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #CE7831; }

.login-submit {
  padding: 5px;
  display: block;
  width: 60%;
  margin: 0 auto;
  background-color: #EB8938;
  border: none;
  border-radius: 2px; }

.login-submit:hover {
  background-color: #CE7831; }
