.login-page {
  border: 1px solid #D0D0D0;
  background-color: #F3F3F3;
  box-shadow: 2px 2px 2px #D0D0D0;
  width: 30%;
  margin: 0 auto;
  padding-bottom: 30px;
  margin-top: 20px;
}

.pick-a-tab {
  border: none;
  background-color: #EB9B29;
  margin: 10px;
  color: #fff;
  padding: 10px;
}

.pick-a-tab:hover {
  background-color: #e48227;
}

.disabled {
  background-color: #D0D0D0;
}

.disabled:hover {
  background-color: #D0D0D0;
}

.login-name,
.login-email,
.login-password,
.login-verify-password {
  padding: 5px;
  display: block;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #e48227;
  background-color: #F3F3F3;
}

.login-submit {
  padding: 5px;
  display: block;
  width: 70%;
  color: #fff;
  margin: 0 auto;
  background-color: #EB9B29;
  border: none;
  border-radius: 2px;
}

.login-submit:hover {
  background-color: #e48227;
}

.no-match {

}
