@import url(https://fonts.googleapis.com/css?family=Monoton);

main {
  display: flex;
  flex-direction: row;
  background-color: #1A1A1A;
}

.nav-bar {
  background-color: black;
  background-image: linear-gradient(black, #1A1A1A);
  display: flex;
  justify-content: space-between;
}

.app-title {
  color: #EB8938;
  padding: 30px;
  font-size: 320%;
  font-family: Monoton, sans-serif;
  letter-spacing: 3px;
}

.nav-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 15px 30px 15px 10px;
}

.see-all-movies-btn,
.see-favorites-btn {
  border: none;
  padding: 5px;
  background-color: #EB8938;
  margin: 10px;
}

#main {
  text-align: center;
}
