.movie-index-container {

}

.current-title {
  text-align: left;
  padding: 30px;
  color: #fff;
}

.movie-index {
  width: 90%;
  display: block;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
