@import url(https://fonts.googleapis.com/css?family=Roboto);

.current-title {
  text-align: left;
  padding: 30px;
  color: #fff;
  font-family: Roboto;
}

.movie-index {
  width: 90%;
  display: block;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie-index-footer {
  height: 50px;
  background-color: #1a1a1a;
}
